/* ======= header section ======= */

body{
font-size:10px;
}

.header{
height:60px
}

div.side {
display:none;
}

.asaanlogo{
display:none;
}

.menu {
margin:0px;
}

h1 {
font-size:300%;
}

.greatphoto {
display:none;
}

ul li {
padding:10px;
}

ul li a{
padding:10px 10px 10px 4.5px;
}

.body {
margin-right:5px;
}

